.bg {
    background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
}

.bgp {
    background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

.bg-l {
    background-color: rgb(230, 230, 230);
}